[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nc -lkp 25565
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
